.montserrat-1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
  
  *,*::before,*::after{
    box-sizing: border-box;
    font-family: montserrat-1;
    font-weight: normal;
  }
  
  body{
    margin-top: 5%;
    margin-left:25%;
    margin-right:25%;
    margin-bottom: 5%;
    background: #000;
   }
  
  
 
  .output {
    grid-column: 1 / -1;
    background-color: rgba( 0, 0, 0,.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-operand {
    color: rgba( 255, 255, 255,.75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }
  
  .counter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    }
      
  .counter-container .output {
    background-color: rgba( 0, 0, 0,.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 200px;
    word-wrap: break-word;
    word-break: break-all;
    border: solid red;
  }
  
  .counter-container .output .current-value  {
    color: white;
    font-size: 5.5rem;
    background-color: #1a1515;
    height: 50%;
  }
  
  .counter-container >button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgb(255, 255, 255,.75);
    width: 50%;
  }
  
  .counter-container > button:hover{ 
    background-color: rgb(255, 255, 255,.9);
  } 