/* 

  Main file for stylesheet

  - config.scss                   ( base properties, variables,margin ecc.....   )
  - layout/main,header,footer     ( stylesheet for section of page )
  - controls/button,label,popup   ( tutto il foglio di style per la pagina "who-i-am" )     

*/
/* Base colors */
/*$background-color-primary:  rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;*/
/* Canvas colors */
/* Margins */
/* background-image */
/* Mixin for test application */
/* Show borders test */
/* Function for mantain proportional margin,fonts,colors */
/* Get margin left,right responsive function */
/* Get margin top,bottom responsive function */
/* Base color */
/* Base color */
/* Base color */
/* Anchor base rules */
/* Function add flex-box */
.data-button {
  display: block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background: #000;
  box-shadow: 0 0 7px rgb(27, 27, 27);
  font-size: 3em;
  font-weight: bold;
  cursor: pointer;
}
.data-button:hover {
  background-color: rgb(32, 32, 32);
}

#IdButtonDecrease.data-button::after {
  content: "-";
}

#IdButtonIncrease.data-button::after {
  content: "+";
}

#IdDisplay {
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 10rem;
}

.fl-page {
  font-family: "Quicksand", serif;
  text-shadow: 1px 1px 1px black;
  font-weight: normal;
  margin: 0;
  height: 100vh;
  color: #FFFFFF !important;
  background-color: #000000 !important;
  background: url("../img/background-tile.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.fl-page .fl-header {
  background-color: #000000 !important;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  border-bottom: 1px solid #FFFFFF !important;
  width: 100%;
  z-index: 1;
}
.fl-page .fl-header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.fl-page .fl-header ul a {
  text-decoration: none;
  display: block;
  color: #FFFFFF !important;
}
.fl-page .fl-header ul a:hover {
  background-color: #181818;
}
.fl-page .fl-header ul a {
  padding: 20px 20px;
  cursor: pointer;
}
.fl-page .fl-header .logo {
  float: left;
  padding: 10px 20px;
  font-size: 25px;
}
.fl-page .fl-header li {
  float: left;
}
.fl-page .fl-header li a {
  padding: 20px 30px;
}
.fl-page .fl-header .menu {
  clear: none;
  max-height: none;
  float: right;
}
.fl-page .fl-header .menu-icon {
  display: none;
}
.fl-page .fl-main {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin: 30% 2.5%;
  justify-content: center;
}
.fl-page .fl-main .fl-main {
  color: #FFFFFF !important;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 95%;
}
.fl-page .fl-main .fl-main-item {
  color: #FFFFFF !important;
  background-color: transparent;
  margin-bottom: 4%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4%;
  flex-wrap: nowrap;
}
@media (min-width: 1024px) {
  .fl-page .fl-main {
    margin: 13.125% 20%;
  }
}
.fl-page .fl-main .fl-container {
  width: auto;
  height: auto;
  min-width: 25%;
  min-height: 25%;
  padding: 20px;
  background: rgba(14, 13, 13, 0.3); /* Sfondo semi-trasparente */
  border: 2px solid rgba(255, 255, 255, 0.2); /* Bordo trasparente */
  backdrop-filter: blur(10px); /* Effetto sfocato */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Ombra leggera */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
}
.fl-page .fl-footer {
  /* Media query when the screen is less than 1152px  ( MOBILE first default stylesheet )  */
  background-color: #000000 !important;
  /* Media query when the screen is larger than 1152px ( PC/laptop device ) */
}
.fl-page .fl-footer .fl-footer-cnt-item-disclaimer {
  position: absolute;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 0.7rem;
}
@media (min-width: 1024px) {
  .fl-page .fl-footer .fl-footer-cnt-item-disclaimer {
    font-size: 0.9rem;
  }
}

/* Media query when the screen is larger than 1152px ( PC/laptop device ) */
@media (min-width: 1024px) {
  /* Layout structure ( using nesting SASS syntax ) */
  .fl-page {
    font-family: "Quicksand", serif;
    text-shadow: 1px 1px 1px black;
    font-weight: normal;
    margin: 0;
    height: 100vh;
    color: #FFFFFF !important;
    background-color: #000000 !important;
    background: url("../img/background-07.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  .fl-page .fl-header {
    background-color: #000000 !important;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    border-bottom: 1px solid #FFFFFF !important;
    width: 100%;
    z-index: 1;
  }
  .fl-page .fl-header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
  }
  .fl-page .fl-header ul a {
    text-decoration: none;
    display: block;
    color: #FFFFFF !important;
  }
  .fl-page .fl-header ul a:hover {
    background-color: #181818;
  }
  .fl-page .fl-header ul a {
    padding: 20px 20px;
    cursor: pointer;
  }
  .fl-page .fl-header .logo {
    float: left;
    padding: 10px 20px;
    font-size: 25px;
  }
  .fl-page .fl-header li {
    float: left;
  }
  .fl-page .fl-header li a {
    padding: 20px 30px;
  }
  .fl-page .fl-header .menu {
    clear: none;
    max-height: none;
    float: right;
  }
  .fl-page .fl-header .menu-icon {
    display: none;
  }
  .fl-page .fl-main {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 30% 2.5%;
    justify-content: center;
  }
  .fl-page .fl-main .fl-main {
    color: #FFFFFF !important;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 95%;
  }
  .fl-page .fl-main .fl-main-item {
    color: #FFFFFF !important;
    background-color: transparent;
    margin-bottom: 4%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4%;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .fl-page .fl-main {
    margin: 13.125% 20%;
  }
}
@media (min-width: 1024px) {
  .fl-page .fl-footer {
    /* Media query when the screen is less than 1152px  ( MOBILE first default stylesheet )  */
    background-color: #000000 !important;
    /* Media query when the screen is larger than 1152px ( PC/laptop device ) */
  }
  .fl-page .fl-footer .fl-footer-cnt-item-disclaimer {
    position: absolute;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 0.7rem;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .fl-page .fl-footer .fl-footer-cnt-item-disclaimer {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=main.css.map */